<div class="control-group" style="display: none;">
    <label class="control-label"><f:translate key="selectAction" /></label>
    <div class="controls">
        <label>
            <f:form.radio class="h5p-actions" name="control[action]" value="upload"/>
            Upload
        </label>
        <label>
            <f:form.radio class="h5p-actions" name="control[action]" value="create" checked="checked"/>
            Create
        </label>
    </div>
</div>

<div class="control-group" style="display: none;">
    <label class="control-label" for="h5p-file"><f:translate key="uploadFile" /></label>
    <div class="controls">
        <div id="h5p-upload">
            <f:form.upload name="h5p-file" id="h5p-file" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="control-group">
            <label class="control-label"><f:translate key="library" /></label>
            <div class="controls">
                <div id="h5p-create">
                    <div id="h5p-editor">
                        <p><f:translate key="waitingForH5PJavascriptToLoad" /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <f:if condition="{settings.showDisplayOptions}">
        <f:then>
            <div class="col-md-offset-1 col-md-3">
                <div class="h5-sidebar">
                    <div role="button" class="h5p-toggle" tabindex="0" aria-expanded="true" aria-label="Toggle panel"></div>
                    <h2><f:translate key="displayOptions" /></h2>
                    <div class="h5p-action-bar-settings h5p-panel">
                        <f:if condition="{content.uid}">
                            <f:then>
                                <div class="form-check">
                                    <label>
                                        <f:form.checkbox name="options[frame]" value="1" checked="{options.frame} == true" />
                                        <f:translate key="displayToolbarBelowContent" />
                                    </label>
                                </div>
                                <div class="h5p-action-bar-buttons-settings">
                                    <f:if condition="{settings.config.export}">
                                        <f:then>
                                            <div class="form-check">
                                                <label>
                                                    <f:form.checkbox name="options[download]" value="1" checked="{options.export} == true" />
                                                    <f:translate key="displayDownloadButton" />
                                                </label>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <f:form.hidden name="options[download]" value="0" />
                                        </f:else>
                                    </f:if>
                                    <f:if condition="{settings.config.embed}">
                                        <f:then>
                                            <div class="form-check">
                                                <label>
                                                    <f:form.checkbox name="options[embed]" value="1" checked="{options.embed} == true" />
                                                    <f:translate key="displayEmbedButton" />
                                                </label>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <f:form.hidden name="options[embed]" value="0" />
                                        </f:else>
                                    </f:if>
                                    <f:if condition="{settings.config.copyright}">
                                        <f:then>
                                            <div class="form-check">
                                                <label>
                                                    <f:form.checkbox name="options[copyright]" value="1" checked="{options.copyright} == true" />
                                                    <f:translate key="displayCopyrightButton" />
                                                </label>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <f:form.hidden name="options[copyright]" value="0" />
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:then>
                            <f:else>
                                <div class="form-check">
                                    <label>
                                        <f:form.checkbox name="options[frame]" value="1" checked="true" />
                                        <f:translate key="displayToolbarBelowContent" />
                                    </label>
                                </div>
                                <div class="h5p-action-bar-buttons-settings">
                                    <f:if condition="{settings.config.export}">
                                        <f:then>
                                            <div class="form-check">
                                                <label>
                                                    <f:form.checkbox name="options[download]" value="1" checked="true" />
                                                    <f:translate key="displayDownloadButton" />
                                                </label>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <f:form.hidden name="options[download]" value="0" />
                                        </f:else>
                                    </f:if>
                                    <f:if condition="{settings.config.embed}">
                                        <f:then>
                                            <div class="form-check">
                                                <label>
                                                    <f:form.checkbox name="options[embed]" value="1" checked="true" />
                                                    <f:translate key="displayEmbedButton" />
                                                </label>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <f:form.hidden name="options[embed]" value="0" />
                                        </f:else>
                                    </f:if>
                                    <f:if condition="{settings.config.copyright}">
                                        <f:then>
                                            <div class="form-check">
                                                <label>
                                                    <f:form.checkbox name="options[copyright]" value="1" checked="true" />
                                                    <f:translate key="displayCopyrightButton" />
                                                </label>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <f:form.hidden name="options[copyright]" value="0" />
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:form.hidden name="options[frame]" value="1" />
            <f:form.hidden name="options[download]" value="0" />
            <f:form.hidden name="options[embed]" value="0" />
            <f:form.hidden name="options[copyright]" value="0" />
        </f:else>
    </f:if>
</div>

<f:if condition="{content.uid}">
    <f:then>
        <f:form.hidden id="h5p-library" name="library" value="{content.library.name} {content.library.majorVersion}.{content.library.minorVersion}" />
        <f:form.hidden id="h5p-parameters" name="parameters" value="{parameters}" />
        <f:form.hidden id="h5p-content" name="contentId" value="{content.uid}" />
    </f:then>
    <f:else>
        <f:form.hidden id="h5p-library" name="library" value="" />
        <f:form.hidden id="h5p-parameters" name="parameters" value="" />
        <f:form.hidden id="h5p-content" name="contentId" value="" />
    </f:else>
</f:if>